SUPABASE_PROJECT_ID="afqbvuypkzzkoieebpme"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_kGVruRT1kHuBjWdWTos4XA_R2A7JY4w"
SUPABASE_URL="https://afqbvuypkzzkoieebpme.supabase.co"
VITE_SUPABASE_PROJECT_ID="afqbvuypkzzkoieebpme"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_kGVruRT1kHuBjWdWTos4XA_R2A7JY4w"
VITE_SUPABASE_URL="https://afqbvuypkzzkoieebpme.supabase.co"
